
 .text {
    text-align: center;
    color: blue;
}


#MainDiv {
    width: 500px;
    height: 500px;
    top:130px;
    right: 400px;
    border-style: solid;
    position: absolute;
    display: grid;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
}